{% extends 'default.html.twig' %}

{% block content %}
    <div id="rates-filter" class="table-primary">
        {{ form_start(form, {'action': path('rates-list')}) }}
        <div style="margin-bottom: 0; background: #cccccc00; padding-top: 30px;">
            <div class="container">
                <div class="row bold">
                    <div class="col-md-4">{{ form_row(form.currency) }}</div>
                    <div class="col-md-3">{{ form_row(form.rateLowerDate) }}</div>
                    <div class="col-md-3">{{ form_row(form.rateUpperDate) }}</div>
                    <div class="col-md-2 pull-right">
                        <div class="form-group">
                            <a id="submit" href="javascript:;" class="btn btn-md btn-default expand-inline">
                                Поиск
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="list-group list-group-primary">
                <li class="list-group-item list-group-item-heading visible-md visible-lg">
                    <div class="row">
                        <div class="visible-md visible-lg col-md-1">#</div>
                        <div class="col-md-3">
                            <span class="sort">Валюта <i class="fa fa-sort"></i>
                                {{ form_row(form.currencySort) }}
                            </span>
                        </div>
                        <div class="col-md-3">
                            <span class="sort">Курс</span>
                        </div>
                        <div class="col-md-5">
                            <span class="sort">Дата курса <i class="fa fa-sort"></i>
                                {{ form_row(form.rateDateSort) }}
                            </span>
                        </div>
                    </div>
                </li>
                {% for item in pager %}
                    <li class="list-group-item">
                        <div class="row">
                            <div class="visible-md visible-lg col-md-1">{{ loop.index }}</div>
                            <div class="col-md-4">
                                {{ item.currencyFrom.name }}
                            </div>
                            <div class="col-md-3">
                                {{ item.value }}
                            </div>
                            <div class="col-md-4">
                                {{ item.date|date("F jS \\a\\t g:ia") }}
                            </div>
                        </div>
                    </li>
                {% else %}
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-12">
                                Нет данных для отображения
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        {{ form_end(form) }}
    </div>
    {% if pager.nbPages > 1 %}
        <nav class="text-center" style="display: inline-block;">
            {{ pagerfanta(pager, 'twitter_bootstrap3_translated', {
                prev_message: '&larr;<span class="hidden-xs">&nbsp;Предыдущая</span>',
                next_message: '<span class="hidden-xs">Следующая&nbsp;</span>&rarr;'
                })
            }}
        </nav>
    {% endif %}
    <hr>
    <div class="row">
        <div class="col-md-12">
            <div id="chart-ff" style="height: 400px">
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var chartFulfilment = AmCharts.makeChart("chart-ff",
            {
                "type": "serial",
                "dataDateFormat": "YYYY-MM-DD",
                "pathToImages": "{{ asset("img") }}/amcharts/",
                "startDuration": 0,
                "theme": "default",
                "categoryAxis": {
                    "parseDates": true,
                    "gridPosition": "start",
                    "minPeriod": "DD",
                    "gridAlpha": 0,
                    "dateFormats": [
                        {period: 'DD', format: 'DD.MM'},
                        {period: 'MM', format: 'DD.MM.YYYY'},
                        {period: 'YYYY', format: 'MM.YYYY'}
                    ]
                },
                "graphs": [
                    {
                        "balloonText": "[[title]] [[category]]: [[value]]",
                        "fillAlphas": 1,
                        "lineColor": "#fc7502",
                        "id": "productTotal",
                        "title": "За сборку",
                        "type": "column",
                        "valueField": "productTotal"
                    },
                    {
                        "balloonText": "[[title]] [[category]]: [[value]]",
                        "fillAlphas": 1,
                        "lineColor": "#0d8ecf",
                        "id": "packTotal",
                        "title": "За упаковку",
                        "type": "column",
                        "valueField": "packTotal"
                    },
                    {
                        "balloonText": "[[title]] [[category]]: [[value]]",
                        "fillAlphas": 1,
                        "lineColor": "#05cf5e",
                        "id": "shipmentTotal",
                        "title": "За приёмку",
                        "type": "column",
                        "valueField": "shipmentTotal"
                    }
                ],
                "guides": [],
                "valueAxes": [
                    {
                        "id": "cost",
                        "stackType": "regular",
                        "title": "Заработано  (рублей)",
                        "minVerticalGap": 10,
                        "precision": 0,
                        "labelFrequency": 10
                    }
                ],
                "allLabels": [],
                "balloon": {},
                "legend": {
                    "enabled": true,
                    "useGraphSettings": true,
                    "position": "bottom"
                },
                "chartCursor": {
                    "categoryBalloonDateFormat": "DD.MM.YYYY",
                    "valueBalloonsEnabled": true
                },
                "categoryField": "date",
                "dataProvider": []
            }
        );

        chartFulfilment.dataProvider = [
            {
                "date": "2016-08-22",
                "packTotal": "0",
                "productTotal": 70,
                "shipmentTotal": 0
            },
            {
                "date": "2016-08-23",
                "packTotal": "0",
                "productTotal": 60,
                "shipmentTotal": 126
            },
            {
                "date": "2016-08-24",
                "packTotal": "0",
                "productTotal": 570,
                "shipmentTotal": 1410
            },
            {
                "date": "2016-08-25",
                "packTotal": "0",
                "productTotal": 740,
                "shipmentTotal": 202
            },
            {
                "date": "2016-08-26",
                "packTotal": "0",
                "productTotal": 610,
                "shipmentTotal": 166
            },
            {
                "date": "2016-08-29",
                "packTotal": "0",
                "productTotal": 410,
                "shipmentTotal": 144
            },
            {
                "date": "2016-08-30",
                "packTotal": "0",
                "productTotal": 160,
                "shipmentTotal": 126
            },
            {
                "date": "2016-08-31",
                "packTotal": "0",
                "productTotal": 960,
                "shipmentTotal": 60
            }
        ];
        chartFulfilment.validateData();

    </script>
{% endblock %}
