{% extends 'default.html.twig' %}

{% block content %}
    <div id="rates-filter" class="table-primary">
        {{ form_start(form, {'action': path('rates-list')}) }}
        <div style="margin-bottom: 0; background: #cccccc00; padding-top: 30px;">
            <div class="container">
                <div class="row bold">
                    <div class="col-md-4">{{ form_row(form.currency) }}</div>
                    <div class="col-md-3">{{ form_row(form.rateLowerDate) }}</div>
                    <div class="col-md-3">{{ form_row(form.rateUpperDate) }}</div>
                    <div class="col-md-2 pull-right">
                        <div class="form-group">
                            <a id="submit" href="javascript:;" class="btn btn-md btn-default expand-inline">
                                Поиск
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="list-group list-group-primary">
                <li class="list-group-item list-group-item-heading visible-md visible-lg">
                    <div class="row">
                        <div class="visible-md visible-lg col-md-1">#</div>
                        <div class="col-md-3">
                            <span class="sort">Валюта <i class="fa fa-sort"></i>
                                {{ form_row(form.currencySort) }}
                            </span>
                        </div>
                        <div class="col-md-3">
                            <span class="sort">Курс</span>
                        </div>
                        <div class="col-md-5">
                            <span class="sort">Дата курса <i class="fa fa-sort"></i>
                                {{ form_row(form.rateDateSort) }}
                            </span>
                        </div>
                    </div>
                </li>
                {% for item in pager %}
                    <li class="list-group-item">
                        <div class="row">
                            <div class="visible-md visible-lg col-md-1">{{ loop.index }}</div>
                            <div class="col-md-4">
                                {{ item.currencyFrom.name }}
                            </div>
                            <div class="col-md-3">
                                {{ item.value }}
                            </div>
                            <div class="col-md-4">
                                {{ item.date|date("F jS \\a\\t g:ia") }}
                            </div>
                        </div>
                    </li>
                {% else %}
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-12">
                                Нет данных для отображения
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        {{ form_end(form) }}
    </div>
    {% if pager.nbPages > 1 %}
        <nav class="text-center" style="display: inline-block;">
            {{ pagerfanta(pager, 'twitter_bootstrap3_translated', {
                prev_message: '&larr;<span class="hidden-xs">&nbsp;Предыдущая</span>',
                next_message: '<span class="hidden-xs">Следующая&nbsp;</span>&rarr;'
                })
            }}
        </nav>
    {% endif %}
{% endblock %}
